/*

BASE CSS: TABLE OF CONTENTS

1.) typography

2.) default styles

3.) base
- header
- navbar
- footer

*/

/*---------- 1.) typography ----------*/

@font-face { /* main font for the website */
    font-family: 'minion_reg';
    src: url('../fonts/Minion_Pro_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minion_italic';
    src: url('../fonts/Minion_Pro_Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'minion_bold';
    src: url('../fonts/Minion_Pro_Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'minion_bolditalic';
    src: url('../fonts/Minion_Pro_BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face { /* main font for navbar */
    font-family: 'circular_bk';
    src: url('../fonts/CircularStd-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_text_light';
    src: url('../fonts/neutra_text_tf_light_demi.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_text_demi';
    src: url('../fonts/neutra_text_tf_demi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_text_bold';
    src: url('../fonts/neutra_text_tf_alt_bold.ttf');
    font-weight: bold;
    font-style: normal;
}



@font-face { /* The Spectator logo font */
    font-family: 'old_english_mt';
    src: url('../fonts/Old_English_Text_MT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_old_reg';
    src: url('../fonts/Goudy Old Style Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*---------- 2.) default styles ----------*/

html {
    margin: 0;
}

body {
    font-family: minion_reg;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0;
}

#content {
    width: 75%;
    margin: 0 auto;
}

.text-red {
    color: #df3331 !important;
}

.text-underline {
    text-decoration: underline !important;
}

@media (max-width: 767px) {

    #content {
        width: 85%;
        margin: 0 auto;
    }
}

/*---------- 3.) base ----------*/

/* header */
.top-bar {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.top-bar #logo-main {
    position: relative;
    width: 458px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.top-bar #logo-main a h1 {
    font-family: old_english_mt;
    color: #000;
    font-size: 75px;
}

.top-bar #logo-main a:hover,
.top-bar #logo-main a:focus {
    text-decoration: none !important;
}

.top-bar .navbar .navbar-header #logo {
    display: none;
    font-family: old_english_mt;
    color: #000;
    font-size: 37px;
}

.top-bar .navbar .navbar-header #logo a,
.top-bar .navbar .navbar-header #logo a:hover,
.top-bar .navbar .navbar-header #logo a:focus {
    color: #000;
    text-decoration: none !important;
}

.top-bar .navbar .navbar-nav li {
    margin: 0px 10px;
    border: 0px solid #fff;
    border-radius: 5px;
    transition-duration: .12s;
}

.top-bar .navbar .navbar-nav li:hover {
    cursor: default;
    background-color: #E3E3E3;
}

.top-bar .navbar .navbar-nav li a {
    padding: 4px 5px;
    font-family: circular_bk;
    color: #000000;
    font-size: 1.0em;
    line-height: 30px;
    text-decoration: none;
}

.top-bar .navbar .navbar-nav li a:hover,
.top-bar .navbar .navbar-nav li a:focus,
.top-bar .navbar .navbar-nav li a:visited,
.top-bar .navbar .navbar-nav li a:active {
    color: #000000;
    background-color: transparent;
}

.top-bar .fixed-topnav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    /* box-shadow no blur solution from newyorker.com */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15),
                0 -5px 3px -10px #fff;
}

.top-bar .navbar .navbar-collapse {
    padding: 0;
}

.top-bar .navbar .navbar-collapse .navbar-nav {
    display: inline-block;
    float: none;
    position: relative;
    top: 6px;
}

/*@media (max-width: 1200px) {*/

    #hamburger-menu #logo-main {
        display: none;
    }

    #hamburger-menu .navbar .navbar-header {
        float: none;
    }

    #hamburger-menu .navbar-left,.navbar-right {
        float: none !important;
    }

    #hamburger-menu .navbar .navbar-header .navbar-toggle {
        display: block;
    }

    #hamburger-menu .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #000 !important;
        height: 2px;
        border-radius: 0;
        width: 22px;
    }

    #hamburger-menu .navbar .navbar-header .navbar-toggle .icon-bar:first-child {
        width: 16px;
    }

    #hamburger-menu .navbar .navbar-header .navbar-toggle .icon-bar:last-child {
        width: 19px;
    }

    #hamburger-menu .navbar .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15),
                    0 -5px 3px -10px #fff;
    }

    #hamburger-menu .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    /* further specification will override block display < md-screen,
     * less specificatiln will override none display > md-screen.
     */
    #hamburger-menu .navbar-collapse.collapse {
        display: none !important;
    }

    #hamburger-menu .navbar {
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        /* box-shadow no blur solution from newyorker.com */
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15),
                    0 -5px 3px -10px #fff;
    }

    #hamburger-menu .navbar .navbar-collapse .navbar-nav {
        float: none;
        margin-top: 7.5px;
        top: 0;
    }

    #hamburger-menu .navbar .navbar-collapse .navbar-nav > li {
        float: none;
    }

    #hamburger-menu .navbar .navbar-collapse .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #hamburger-menu .collapse.in {
        display: block !important;
    }

    #hamburger-menu .navbar .navbar-header .navbar-toggle {
        display: inline;
        position: relative;
        border: none
    }

/*
@media (max-width: 767px) {
    .top-bar #logo-main a h1 {
        color: #fff;
    }

    .top-bar .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
    }

    .top-bar .navbar .navbar-header {
        margin: 0;
    }

    .top-bar .navbar .navbar-header #logo {
        display: inline;
    }

    .top-bar .navbar .navbar-header #logo a h1 {
        display: inline;
    }

    
}
/*
@media (max-width: 767px) {


#hamburger-bar .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15),
                0 -5px 3px -10px #fff;
}

#hamburger-bar .navbar-collapse {
    display: none !important;
}

#hamburger-bar .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}

#hamburger-bar .navbar-nav > li {
    float: none;
}

#hamburger-bar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#hamburger-bar .collapse.in {
    display: block !important;
}

#hamburger-bar .navbar .navbar-header {
    margin: 0;
}

#hamburger-bar .navbar .navbar-header #logo {
    display: inline;
}

#hamburger-bar .navbar .navbar-header #logo a h1 {
    display: inline;
}

#hamburger-bar .navbar .navbar-header .navbar-toggle {
    display: inline;
    position: relative;
    border: none
}

#hamburger-bar .navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #000000 !important;
    height: 2px;
    border-radius: 0;
    width: 22px;
}

#hamburger-bar .navbar .navbar-header .navbar-toggle .icon-bar:first-child {
    width: 16px;
}

#hamburger-bar .navbar .navbar-header .navbar-toggle .icon-bar:last-child {
    width: 19px;
}
