#feed-rail {
    width: 85%;
    margin: 0 auto;
    padding-top: 40px; /* navbar fixed */
}

#feed-rail .feed-item {
    display: flex;
    margin: 40px auto;
    background-color: #fff;
}

#feed-rail .feed-item .feed-text-container {
    padding: 30px;
}

#feed-rail .feed-item .feed-text-container .feed-item-section {
    font-family: neutra_text_demi;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
}

#feed-rail .feed-item .feed-text-container .feed-item-title {
    font-family: minion_bolditalic;
    font-size: 44px;
    margin: 15px 0px 10px 0px;
}

#feed-rail .feed-item .feed-text-container .feed-item-content {
    font-size: 18px;
}

#feed-rail .feed-item .feed-text-container .byline {
    font-size: 18px;
    font-family: minion_italic;
}

#feed-rail .feed-item .feed-image-container img {
    width: 100%;
}

#feed-rail .portrait {
    flex-direction: row;
    align-items: center;
}

#feed-rail .portrait .feed-image-container {
    flex: 1;
}

#feed-rail .portrait .feed-text-container {
    flex: 1;
}

#feed-rail .landscape {
    flex-direction: column;
}
