html {
    margin: 0;
}

body {
    width: 85%;
    margin: 0 auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 6px 0px 6px;
}

.navbar ul li a {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    transition-duration: .2s;
}

.navbar ul li a:hover {
    color: #888;
}

.footer {
    display: block;
    background: #fff;
    border-top: 1px solid #d5d5d5;
}

.footer-sub-menu {
    display: inline-block;
    margin: 10px 0 0 0;
    width: 24.7%;
}

.footer-sub-menu ul {
    list-style-type: none;
    padding: 0;
}

.footer-sub-menu ul li {
    padding: 2px 0px 2px 20px;
    color: #999;
    font-size: 11px;
    font-family: 'Helvetica';
    text-transform: uppercase;
}

.footer-sub-menu+.footer-sub-menu { /*Every list-item that comes right after another list-item*/
    border-left: 1px solid #d5d5d5;
}


.footer-sub-menu ul > li:first-child {
    color: #000;
}
