* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 6px 0px 6px;
}

.navbar ul li a {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    transition-duration: .2s;
}

.navbar ul li a:hover {
    color: #888;
}

.container {
    flex: 1;

}

.footer {
    display: block;
    background: #fff;
    border-top: 1px solid #d5d5d5;
}

.footer-sub-menu {
    display: inline-block;
    width: 33.1%;
}

.footer-sub-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-sub-menu h3 {
    color: #000;
}

.footer-sub-menu ul li {
    color: #999;
    padding: 10px;
    text-transform: uppercase;
}
