<!DOCTYPE html>

{% set title = title | default('DEFAULT_TITLE') %}

<html lang="en">

    <head>

        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </head>

    <body>

        <div class="container">

            <div id="header-wrapper">

                <div id="top-bar">

                    {% if navType == 0 %}
                    <div id="logo-main">
                        <a href="{{ url_for('index') }}">
                            <h1>Spectator</h1>
                        </a>
                    </div>
                    {% else %}
                    {% endif %}

                    {%
                    set navigation_bar = [
                    ('/news', 'News', 'all'),
                    ('/opinions', 'Opinions', 'all'),
                    ('/features', 'Features', 'all'),
                    ('/ae', 'A&E', 'all'),
                    ('/humor', 'Humor', 'all'),
                    ('/sports', 'Sports', 'all'),
                    ('/photo', 'Photo', 'all'),
                    ('/art', 'Art', 'all'),
                    ('/subscribe', 'Subscribe', 'all')
                    ]
                    %}

                    <nav class="navbar fixed-controller" id="mainNav" data-nav-type="{{ navType }}">

                        <div class="navbar-header">
                            <div id="logo">
                                <a href="/">
                                    <h1>Spectator</h1>
                                </a>
                            </div>
                            <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                {% for href, caption, permission in navigation_bar %}
                                <li>
                                    <a href="{{ href }}"
                                       {% if caption == "Subscribe" %}
                                       class="text-red"
                                       {% endif %}
                                    >{{ caption }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

        </div>

    </body>
</html>
