{% extends "base.html" %}
{% block content %}

<style>
 table {
     margin-bottom: 200px;
 }
 table, tr, td {
     border: 1px solid #000;
 }
 td {
     padding: 5px;
 }

</style>

<button onclick="switchNavbar()">Switch Navbar</button>

<h1>Articles</h1>
<hr>
<table>
    <th>
        {% for articleProperty in articleProperties %}
        <td>{{ articleProperty }}</td>
        {% endfor %}
    </th>
    {% for article in articles %}
    <tr>
        <td></td>
        <td>{{ article.id }}</td>
        <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
        <td>{{ article.content[:35] }}...</td>
        <td>{{ article.timestamp.strftime('%B %d, %Y') }}</td>
        <td>{{ article.p_index }}</td>
        <td>{{ article.dept_id }}</td>
    </tr>
    {% endfor %}
</table>
<h1>Users</h1>
<hr>
<table>
    <th>
        {% for userProperty in userProperties %}
        <td>{{ userProperty }}</td>
        {% endfor %}
    </th>
    {% for user in users %}
    <tr>
        <td></td>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
