{% extends "base.html" %}
{% block content %}

<style>
 table {
     margin-bottom: 300px;
 }
 table, tr, td {
     border: 1px solid #000;
 }
 td {
     padding: 5px;
 }

</style>

<h3>For testing purposes:</h3>
<ul>
    <li><a href="article">Article</a></li>
    <li><a href="the_week">The Week</a></li>
    <li><a href="feed_rail">Feed Rail</a></li>
    <li><a href="antarctica">Antarctica</a></li>
    <li><a href="fat_text">Fat Text</a></li>
    <li><a href="tall_text">Tall Text</a></li>
</ul>

<h1>Users</h1>
<hr>
<table>
    <th>
        {% for userProperty in userProperties %}
        <td>{{ userProperty }}</td>
        {% endfor %}
    </th>
    {% for user in users %}
    <tr>
        <td></td>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Articles</h1>
<hr>
<table>
    <th>
        {% for articleProperty in articleProperties %}
        <td>{{ articleProperty }}</td>
        {% endfor %}
    </th>
    {% for article in articles %}
    <tr>
        <td></td>
        <td>{{ article.id }}</td>
        <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
        <td>{{ article.content[:35] }}...</td>
        <td>{{ article.timestamp.strftime('%B %d, %Y') }}</td>
        <td>{{ article.p_index }}</td>
        <td>{{ article.dept_id }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
