/*

ARTICLE CSS: TABLE OF CONTENTS:

1.) default styles
- media
- header
- article body
- footer
- featured img
- content

3.) centered text

4.) fat text

5.) tall text

6.) feed rail
*/

/*---------- 1.) default styles ----------*/

#content-wrap {
    overflow: visible !important;
}

#content-wrap figure {
    margin: 20px 0px 15px 10px;
}

#content-wrap figure.alignright {
    float: right;
}
#content-wrap figure.alignleft {
    float: left;
}

#content-wrap figure.size-lg {
    max-height: 550px;
    max-width: 550px;
}
#content-wrap figure.size-md {
    max-height: 300px;
    max-width: 300px;
}
#content-wrap figure.size-sm {
    max-height: 150px;
    max-width: 150px;
}

#content-wrap figure img {
    width: 100%;
    height: 100%;
}

#content-wrap figure.fullbody img {
    width: 100%;
    height: auto;
    margin: 15px;
}

#content-wrap figure.fullwidth {
    margin: 0;
    margin-left: -33.33333%;
    width: 167%;
}

#content-wrap figure.fullwidth .overflow-container {
    height: 350px;
    overflow-y: hidden;
    margin: 15px 0px;
}

#content-wrap figure.fullwidth img {
    width: 100%;
    height: auto;
}

#content-wrap figure.overflow-lg .overflow-container img {
    margin: -225px 0px 0px 0px;
}

#content-wrap figure.overflow-md .overflow-container img {
    margin: -150px 0px 0px 0px;
}

#content-wrap figure.overflow-sm .overflow-container img {
    margin: -50px 0px 0px 0px;
}

#content-wrap figure figcaption {
    text-align: center;
    font-family: minion_italic;
    font-size: 16px;
}

#content-wrap figure figcaption .caption-credits {
    text-transform: uppercase;
    font-family: neutra_text_bold;
    font-size: 12px;
    color: #565656;
}

#content-wrap blockquote.article-quote {
    font-family: minion_bold;
    font-size: 30px;
    line-height: 48px;
    border: none;
    text-align: center;
    margin: 50px 0px;
}

#content-wrap blockquote.article-quote .person1 {
    color: #f47862;
}

#content-wrap blockquote.article-quote .person2 {
    color: #0c4b4a;
}

#content-wrap blockquote.article-outquote {
    font-family: minion_bold;
    border-left: none;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 70%;
    margin: 25px auto;
}

#content-wrap figure.video-centered {
    width: 500px;
    margin: 0 auto;
}

#content-wrap figure.video-centered video {
    width: 100%;
}

/* sizes */
#article-header,
#article-footer {
    display: block;
    min-height: 40px;
}

#article-header #department {
    color: #df3331;
}

/* layout */
#content-wrap {
    overflow: hidden;
}

#content-wrap {
    float: left;
    width: 66%;
}

/* featured img */
figure#featured-img {
    display: block;
    font-family: minion_reg;
    margin: 10px 0px 0px 0px;
}

figure#featured-img img {
    width: 100%;
}

figure#featured-img figcaption {
    line-height: 16px;
    text-align: left !important;
    margin-top: 8px;
}

#featured-img figcaption #caption {
    font-size: 14px;
    font-family: minion_reg;
}

#featured-img figcaption #credit {
    font-size: 14px;
    color: #999;
}

.media figcaption {
    font-size: 16px;
    font-family: minion_reg;
    color: #555;
}

#content-wrap .article-content {
    font-family: minion_reg;
    font-size: 20px;
    margin-top: 24px;
    line-height: 30px;
}

dc { /* dropcap */
    font-family: minion_italic;
    float: left;
    font-size: 5em;
    line-height: 83px;
    padding-top: 7px;
    padding-right: 14px;
    padding-left: 3px;
}

/*---------- 2.) main article ----------*/


#main-text-wrap #article-header {
    margin: 120px 0px 30px 0px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
}

#main-text-wrap #article-header #section {
    font-family: neutra_text_demi;
    font-size: 15px;
    text-transform: uppercase;
}

#main-text-wrap #article-header #big-title {
    font-family: minion_reg;
    margin: 20px 0px;
    font-size: 40px;
    line-height: 44px;
}

#main-text-wrap #article-header #article-meta-footer .byline-dateline {
    font-size: 17px;
}

#main-text-wrap #article-header #article-meta-footer .byline-dateline span:first-child {
    font-family: neutra_text_bold;
    margin-right: 10px;
}

#main-text-wrap #article-header #article-meta-footer .byline-dateline span:last-child {
    font-family: neutra_text_demi;
}

#main-text-wrap #article-body #right-rail {
    float: right;
    width: 33%;
}

#main-text-wrap #article-body #right-rail figure.ad {
    text-align: center;
    width: 100%;
}

#main-text-wrap #article-body #right-rail figure.ad img {
    width: 90%;
    margin: 20px 0px;
}

#main-text-wrap #article-body #right-rail h3 {
    position: relative;
    left: 18px;
}

#main-text-wrap #article-body #article-footer {
    margin-top: 20px;
    border-top: 1px solid #333;
}

#main-text-wrap #article-body #article-footer .author-description {
    font-family: minion_italic;
}

/*---------- 3.) Centered Text ----------*/

#main-centered-wrap {
    font-family: minion_reg;
}

#main-centered-wrap #article-header .article-title {
    display: block;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}

#main-centered-wrap #article-header .article-title p {
    display: inline;
}

#main-centered-wrap #article-header .author {
    text-align: center;
    font-family: minion_italic;
    font-size: 22px;
    line-height: 30px;
    color: #999;
}

#main-centered-wrap .top-image {
    width: 100%;
}

#main-centered-wrap .top-image .lazy {
    width: 100%;
}

#main-centered-wrap .top-image .img-credit {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 3px;
    margin-right: 10px;
    font-family: "neutra_text_demi";
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

#main-centered-wrap #article-body {
    width: 100%;
}

#main-centered-wrap #article-body #content-wrap {
    display: block;
    width: 60%;
    margin: 0 auto;
    float: none !important;
}

/*---------- 4.) Fat Text ----------*/

#fat-text-wrap {
    display: block;
    width: 125%;
    margin-left: -12.5%;
}

#fat-text-wrap #article-header {
    width: 80%;
    margin: 160px auto 80px auto;
    text-align: center;
    color: #df3331;
    position: relative;

}

#fat-text-wrap #article-header .article-title {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#fat-text-wrap #article-header .article-title p {
    font-size: 90px;
    line-height: 100px;
    text-align: center;
}

#fat-text-wrap #article-header p::selection {
    background: #df3331; /* WebKit/Blink Browsers */
    color: #fff;
}

#fat-text-wrap #article-header p::-moz-selection {
    background: #df3331; /* Gecko Browsers */
    color: #fff;
}

#fat-text-wrap #article-header .author {
    font-size: 24px;
    line-height: 30px;
}

#fat-text-wrap #article-body #content-wrap {
    float: none;
    margin: 0 auto;
}

/*---------- 5.) Tall Text ----------*/

#tall-text-wrap {
    display: block;
    width: 125%;
    margin-left: -12.5%;
}

#tall-text-wrap #article-header {
    width: 80%;
    margin: 150px auto 90px auto;
    text-align: center;
    color: #000;
    position: relative;

}

#tall-text-wrap #article-header .article-title {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 128px;
    line-height: 128px;
    text-align: center;
}

#tall-text-wrap #article-header .article-title p::selection {
    background: #000; /* WebKit/Blink Browsers */
    color: #fff;
}

#tall-text-wrap #article-header .article-title p::-moz-selection {
    background: #000; /* Gecko Browsers */
    color: #fff;
}

#tall-text-wrap #article-header .author {
    font-size: 22px;
    line-height: 24px;
    font-family: minion_italic;
}

#tall-text-wrap #article-body #content-wrap {
    float: none;
    margin: 0 auto;
}



/*---------- 6.) feed rail ----------*/

#feed-rail {
    width: 85%;
    margin: 0 auto;
    padding-top: 40px; /* navbar fixed */
}

#feed-rail .feed-item {
    display: flex;
    margin: 40px auto;
    background-color: #fff;
}

#feed-rail .feed-item .feed-text-container {
    padding: 30px;
}

#feed-rail .feed-item .feed-text-container .feed-item-section {
    font-family: neutra_text_demi;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
}

#feed-rail .feed-item .feed-text-container .feed-item-title {
    font-family: minion_bolditalic;
    font-size: 44px;
    margin: 15px 0px 10px 0px;
}

#feed-rail .feed-item .feed-text-container .feed-item-content {
    font-size: 18px;
}

#feed-rail .feed-item .feed-text-container .byline {
    font-size: 18px;
    font-family: minion_italic;
}

#feed-rail .feed-item .feed-image-container img {
    width: 100%;
}

#feed-rail .portrait {
    flex-direction: row;
    align-items: center;
}

#feed-rail .portrait .feed-image-container {
    flex: 1;
}

#feed-rail .portrait .feed-text-container {
    flex: 1;
}

#feed-rail .landscape {
    flex-direction: column;
}
