#fat-text-wrap {
    display: block;
    width: 125%;
    margin-left: -12.5%;
}

#fat-text-wrap #article-header {
    width: 80%;
    margin: 160px auto 80px auto;
    text-align: center;
    color: #df3331;
    position: relative;

}

#fat-text-wrap #article-header .article-title {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#fat-text-wrap #article-header .article-title p {
    font-size: 90px;
    line-height: 100px;
    text-align: center;
}

#fat-text-wrap #article-header p::selection {
    background: #df3331; /* WebKit/Blink Browsers */
    color: #fff;
}

#fat-text-wrap #article-header p::-moz-selection {
    background: #df3331; /* Gecko Browsers */
    color: #fff;
}

#fat-text-wrap #article-header .author {
    font-size: 24px;
    line-height: 30px;
}

#fat-text-wrap #article-body #content-wrap {
    float: none;
    margin: 0 auto;
}
