* {
    box-sizing: border-box;
}
.right-rail {
    width: 25%;
    float: right;
    padding: 15px;
    border: 1px;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;	
    border: 1px;
    padding-left: 30px;
}
.p {
    font-family: 'cheltenham_reg';
    line-height: 1.5;
}
.indent {
    float: left;
    font-size: 44px;
    line-height: 35px;
    padding-top: 3px;
}

