/*

TABLE OF CONTENTS

1.) typography

2.) default styles

3.) base
- navbar

*/

/*---------- 1.) typography ----------*/

@font-face {
    font-family: 'neutra_text_bold';
    src: url('../fonts/neutra_text_tf_alt_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_text_demi';
    src: url('../fonts/neutra_text_tf_light_demi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheltenham_reg';
    src: url('../fonts/Cheltenham_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_reg';
    src: url('../fonts/adobe_caslon_pro_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_italic';
    src: url('../fonts/adobe_caslon_pro_italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'theinhardt_med';
    src: url('../fonts/Theinhardt_Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'theindhardt_bold';
    src: url('../fonts/Theinhardt_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/*---------- 2.) default styles ----------*/


html {
    margin: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.color-this-red {
    color: red;
}

/*---------- 3.) base ----------*/

/* navbar */

.navbar-default {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-collapse .navbar-nav li {
    display: inline-block;
    margin: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition-duration: .1s;
}

.navbar-collapse .navbar-nav li:hover {
    cursor: default;
    background-color: #E3E3E3;
}

.navbar-collapse .navbar-nav li a {
    display: block;
    padding: 4px 5px;
    font-family: 'neutra_text_demi';
    font-weight: bold;
    color: #000000;
    font-size: 0.9em;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:active,
.navbar-collapse .navbar-nav li a:focus,
.navbar-collapse .navbar-nav li a:visited, {
    color: #000;
}

/* footer */
