/*

TABLE OF CONTENTS

1.) typography

2.) default styles

3.) base
- header
- navbar
- footer

*/

/*---------- 1.) typography ----------*/

@font-face {
    font-family: 'neutra_text_bold';
    src: url('../fonts/neutra_text_tf_alt_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_text_demi';
    src: url('../fonts/neutra_text_tf_light_demi.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheltenham_reg';
    src: url('../fonts/Cheltenham_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheltenham_bold';
    src: url('../fonts/Cheltenham_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cheltenham_bolditalic';
    src: url('../fonts/Cheltenham_BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_reg';
    src: url('../fonts/adobe_caslon_pro_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_italic';
    src: url('../fonts/adobe_caslon_pro_italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old_english_mt';
    src: url('../fonts/Old_English_Text_MT.ttf');
    font-weight: normal;
    font-style: normal;
}

/*---------- 2.) default styles ----------*/


html {
    margin: 0;
}

body {
    font-family: cheltenham_reg;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/*---------- 3.) base ----------*/

/* header */

.logo-container {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.logo-container #logo {
    position: relative;
    width: 458px;
    height: 75px;
    margin: 0 auto;
}

.logo-container #logo h1 {
    font-family: 'old_english_mt';
    color: #000000;
    font-size: 75px;
}

.logo-container #logo a:hover {
    text-decoration: none;
}

/* navbar */

.navbar-default {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar .navbar-nav li {
    margin: 0px 10px;
    border: 0px solid #fff;
    border-radius: 5px;
    transition-duration: .1s;
}

.navbar .navbar-nav li:hover {
    cursor: default;
    background-color: #E3E3E3;
}

.navbar .navbar-nav li a {
    display: block;
    padding: 4px 5px;
    font-family: 'neutra_text_demi';
    font-weight: bold;
    color: #000000;
    font-size: 0.9em;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:visited,
.navbar .navbar-nav li a:active {
    color: #000000;
}

@media (min-width: 768px) {

    /* makes li's inline and centered */

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-nav li {
        display: inline-block;
    }

}

/* footer */
