{% extends "base.html" %}
{% block content %}

<!-- ARTICLE-HEADER (start) -->

<div class="row">

    <div class="col-sm-9 col-md-9">
        <p class="red-name">
            Author's Name<br>
        </p>
        <h1 class="big-title">
            Trump's first 100 days
        </h1>
        <br>
        <div class="authortimestamp">
            <strong>By Author's Name</strong>
            <small>2:17AM</small>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <!-- unecessary col, can just float right -->
        <div class="social-media">
            <a href="http://facebook.com/"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>

</div>

<!-- ARTICLE-HEADER (end) -->


<!-- ARTICLE-IMAGE (start) -->

<figure class="media">

    <a class="image">
        <img src="http://media.salon.com/2017/01/obama-goodbye.jpg" alt="President Obama">
    </a>

    <figcaption>
        <span class="caption">Jeannette Walls is a sad character. Growing up in Welch, West Virginia, she only knew poverty. It is not until her thirty-third year of life that she began earning money at the New York Times.</span>
        <span class="caption-credit">Photograph by Jeannette Walls</span>
    </figcaption>

</figure>

<!-- ARTICLE-IMAGE (end) -->


<!-- ARTICLE-CONTENT (start) -->

<div class="article-body">



</div>

<!-- ARTICLE-CONTENT (end) -->


<div class="right-rail">

</div>

{% endblock %}
