<!DOCTYPE html>

{% set title = title | default('DEFAULT_TITLE') %}

<html lang="en">

    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </head>

    <body>

        <div class="container">

            <div class="header-wrapper">

                <section class="logo-container">

                <div id="logo">
                    <a href="http://www.stuyspec.com/">
                        <h1>Spectator</h1>
                    </a>
                </div>

                {%
                set navigation_bar = [
                ('/news', 'News', 'all'),
                ('/opinions', 'Opinions', 'all'),
                ('/humor', 'Humor', 'all'),
                ('/features', 'Features', 'all'),
                ('/ae', 'A&E', 'all'),
                ('/sports', 'Sports', 'all'),
                ('/photo', 'Photo', 'all'),
                ('/film', 'Video', 'all'),
                ('/subscribe', 'Subscribe', 'all'),
                ('/all','All','all'),
                ]
                %}

                <nav class="navbar navbar-default fixme" id="mainNav">

                    <div class="container-fluid">

                        <div class="navbar-header">
                            <div id="logo">
                                <a href="http://www.stuyspec.com/">
                                    <h1>Spectator</h1>
                                </a>
                            </div>
                            <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                {% for href, caption, permission in navigation_bar %}

                                {% if href == "dropdown" %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">DEFAULT_DROPDOWN_LABEL<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for href_d, caption_d in caption %}
                                        <li><a href="{{ href_d }}">{{ caption_d }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                {% else %}
                                <li>
                                    <a href="{{ href }}"
                                       {% if caption == "Subscribe" %}
                                       class="text-red"
                                       {% endif %}
                                       {% if caption == "All" %}
                                       class="text-underline"
                                        {% endif %}
                                    >{{ caption }}</a></li>

                                {% endif %}

                                {% endfor %}

                                {#
                                {% for href, id in navigation_bar %}
                                {% if href == "dropdown" and ((user and user.check_permission(permission)) or permission == 'all') %}
                                <li
                                    {% for href_d, caption_d in id if href_d == active_page %}
                                    class="active"
                                    {% endfor %}
                                >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ caption | e }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for href_d, caption_d in id %}
                                        <li><a href="{{ url_for(href_d) }}">{{ caption_d | e }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                {% if (user and user.check_permission(permission)) or permission == 'all' %}
                                <li {% if href == active_page %} class="active" {% endif %}>
                                    <a href="{{ url_for(href) }}">{{ caption | e }}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                #}
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- navbar (end) -->

                </section>

            </div>

            <a href="article-test">To Article Page (ignore this, it's just for testing) -jason</a>

            <div class="content">

                {% block content %}{% endblock %}

            </div>

        </div>

        <!-- modal (start) -->

        <!-- modal (end) -->
        <footer>
            <hr size="1" align="center" width="85%" color="lightgray">

            <div style="display:block;margin:0 auto;width:800px;height:100px;background:WhiteSmoke"; border-color: white; align: center> </div>

            <hr size="1" align="center" width="85%" color="lightgray">

            <center>
                <a style="text-decoration:none;color:gray;" href="http://www.google.com">Home</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">News</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">Opinions</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">Humor</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">Features</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">A&E</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">Sports</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">Media</a>
                <a style="text-decoration:none;color:gray:" href="http://www.google.com">More</a>

            </center>

        </footer>

    </body>
</html>
