<!DOCTYPE html>

{% set title = title | default('DEFAULT_TITLE') %}

<html lang="en">

    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    </head>

    <body>

        <div class="container">

            {% set navigation_bar = [
            ('/news', 'News', 'all'),
            ('/opinions', 'Opinions', 'all'),
            ('/humor', 'Humor', 'all'),
            ('/features', 'Features', 'all'),
            ('/ae', 'A&E', 'all'),
            ('/sports', 'Sports', 'all'),
            ('dropdown',(
                ('/charter', 'Charter'),
                ('/sponsors', 'Sponsors')
                ),
                'all'),
            ]
            %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            {% for href, caption, permission in navigation_bar %}
                            {% if href == "dropdown" %}


                            {% else %}
                            <li><a href="{{ href }}">{{ caption }}</a></li>

                            {% endif %}
                            {% endfor %}

                            {#
                            {% for href, id in navigation_bar %}
                            {% if href == "dropdown" and ((user and user.check_permission(permission)) or permission == 'all') %}
                            <li
                                {% for href_d, caption_d in id if href_d == active_page %}
                                class="active"
                                {% endfor %}
                            >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ caption | e }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for href_d, caption_d in id %}
                                    <li><a href="{{ url_for(href_d) }}">{{ caption_d | e }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            {% if (user and user.check_permission(permission)) or permission == 'all' %}
                            <li {% if href == active_page %} class="active" {% endif %}>
                                <a href="{{ url_for(href) }}">{{ caption | e }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            #}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- navbar (end) -->

            {% block content %}{% endblock %}

        </div>

        <footer>
        </footer>

    </body>
</html>
