<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="contentcss.css">
</head>
<body>
<div class="main">
<p>
<span class="indent">"T</span>
he goal of The Spectator, the school newspaper of Stuyvesant High School, is to inform the Stuyvesant community, including students, teachers, administrators and parents, of the significant events and issues pertaining to the school.
</p>
</div>
<div class="right-rail">
put ad here
</div>
</body>
</html>

