{% extends "base.html" %}
{% block content %}

<div id="fat-text-wrap">

    <div id="article-header">

        <div class="article-title">
            <p>Damesek dubs the escalator debate "a dub."</p>
        </div>

        <div class="author">
            <p>by Michael Espinosa</p>
        </div>

    </div>

    <div id="article-body">

        <div id="content-wrap">
            <p class="article-content">
                <span id="dropcap">B</span>ackground about stuff his is the brandackgroun that Trump has created for himself—that of an unprincipled, cocky, value-free con who will insult, stiff, or betray anyone to achieve his gaudiest purposes. “I am what I am,” he has said. But what was once a parochial amusement is now a national and global peril. Trump flouts truth and liberal values so brazenly that he undermines the country he has been elected to serve and the stability he is pledged to insure. His bluster creates a generalized anxiety such that the President of the United States can appear to be scarcely more reliable than any of the world’s autocrats.
            </p>
            <p class="article-content">
                His is the brand that Trump has created for himself—that of an unprincipled, cocky, value-free con who will insult, stiff, or betray anyone to achieve his gaudiest purposes. “I am what I am,” he has said.
            </p>
            <p class="article-content">But what was once a parochial amusement is now a national and global peril. Trump flouts truth and liberal values so brazenly that he undermines the country he has been elected to serve and the stability he is pledged to insure. His bluster creates a generalized anxiety such that the President of the United States can appear to be scarcely more reliable than any of the world’s autocrats.
            </p>
            <p class="article-content">
                His is the brand that Trump has created for himself—that of an unprincipled, cocky, value-free con who will insult, stiff, or betray anyone to achieve his gaudiest purposes. “I am what I am,” he has said. But what was once a parochial amusement is now a national and global peril. Trump flouts truth and liberal values so brazenly that he undermines the country he has been elected to serve and the stability he is pledged to insure. His bluster creates a generalized anxiety such that the President of the United States can appear to be scarcely more reliable than any of the world’s autocrats.
            </p>
        </div>

    </div>

</div>

{% endblock %}
