<!DOCTYPE html>
<hr size="1" align="center" width="85%" color="lightgray">
<center> <div style="width:800px;height:100px;background:WhiteSmoke"; border-color: white; align: center>
	<b>
<font size = "2" font face = "copperplate"> THE NEW YORKER </font></b> <br />
	<center>

<font size = "4" font color = red font face = "Book Antiqua"> The best writing anywhere, everywhere. </font> <br /> </center>
	<center>
 
<font size = "4" font color = black font face = "Book Antiqua"> <u> Subscribe </u> for $1 a week, </font> <br /> </center>
	<center>
 
<font size = "4" font color = gray font face = "Book Antiqua"> and get a free tote bag. </font> <br /> </center> </div> </center>

<hr size="1" align="center" width="85%" color="lightgray">
<center>
<a style = "text-decoration:none;color:gray;" href="http://www.google.com">Home</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">News</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">Opinions</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">Humor</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">Features</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">A&E</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">Sports</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">Media</a>
<a style = "text-decoration:none;color:gray:" href="http://www.google.com">More</a>

</center>
