{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/incarceration.css') }}">

<div id="main-color-wrap">

    <div id="article-header">

        <div class="article-title">
            Why does the U.S.
            <br>
            <u>lead the world</u>
            <br>in incarceration?
        </div>

        <p class="article-subtitle">
            The US holds only 5% of the world’s population but 25% of the world’s prisoners. Was it the war on drugs? Mandatory minimums? How we got here – the global leader in incarceration – is one of the most debated questions in policy.
        </p>
        <p class="article-subtitle">
            This project aggregates publicly available data so that we can rely on fact rather than rhetoric.
        </p>

    </div>

</div>

{% endblock %}


