{% extends "base.html" %}
{% block content %}

<h3>For testing purposes:</h3>
<ul>
    <li><a href="article">Article</a></li>
    <li><a href="l_train">L Train</a></li>
    <li><a href="the_week">The Week</a></li>
    <li><a href="goings_on">Goings On</a></li>
    <li><a href="antarctica">Antarctica</a></li>
</ul>


    <h1>Articles</h1>

    {% for post in posts %}

    <hr>

    <div class="post">

        <h3 style="font-family:cheltenham_reg; text-transform: uppercase"> {{ post.title }}</h3>

        <p>
            time: {{ post.timestamp }} <br>
            articleID: {{ post.articleID }}
        </p>

        <h5>Written by:
            {% for author in post.authors %}
            {{ author.name }},
            {% endfor %}
        </h5>
        <p>{{ post.body }}</p>
        <b>viewcount: {{ post.viewcount }}</b>
        <p>Tags:
            {% for tag in post.tags %}
            {{ tag }},
            {% endfor %}
        </p>
    </div>

    {% endfor %}
{% endblock %}
