<html>
<head>
    <style type="text/css"></style>
</head>
<body>
    {% block loginBox %}
    <div>
        <center>
        <h1>Log in</h1>
        <form method="POST">
            <input type="text" name="email" placeholder="Email address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="checkbox" name="remember" checked="checked">
            <label for="remember">Remember me</label>
            <a>Forgot password?</a><br>
            <input type="submit" name="login" value="Login">
        </form>
        Don't have an account? <a>Sign Up</a>
        </center>
    </div>
    {% endblock %}
</body>
</html>