{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/the_week.css') }}">

<div id="main-centered-wrap">

    <div id="article-header">

        <div class="article-title">
            <p>Charlie Wilson and His Impact on Chauncey.</p>
        </div>

        <div class="author">
            <p>A primary account of what happened on the night of December 7th, 1945</p>
        </div>

    </div>

    <div class="top-image">
        <img class="lazy" src="http://api.theweek.com/sites/default/files/styles/tw_image_9_4/public/RTX14VOJ.jpg?itok=jRvN6-pP&resize=1260x560">
        <div class="img-credit">Jeannette Walls (2009)</div>
    </div>

    <div id="article-body">

        <div id="content-wrap">
            <p class="article-content">
                <span id="dropcap">T</span>his is the brand that Trump has created for himself—that of an unprincipled, cocky, value-free con who will insult, stiff, or betray anyone to achieve his gaudiest purposes. “I am what I am,” he has said. But what was once a parochial amusement is now a national and global peril. Trump flouts truth and liberal values so brazenly that he undermines the country he has been elected to serve and the stability he is pledged to insure. His bluster creates a generalized anxiety such that the President of the United States can appear to be scarcely more reliable than any of the world’s autocrats.
            </p>
            <p class="article-content">When Kim In-ryong, a representative of North Korea’s radical regime, warns that Trump and his tweets of provocation are creating “a dangerous situation in which a thermonuclear war may break out at any moment,” does one man sound more immediately rational than the other? When Trump rushes to congratulate Recep Tayyip Erdoğan for passing a referendum that bolsters autocratic rule in Turkey—or when a sullen and insulting meeting with Angela Merkel is followed by a swoon session with Abdel Fattah El-Sisi, the military dictator of Egypt—how are the supporters of liberal and democratic values throughout Europe meant to react to American leadership?
            </p>
        </div>

    </div>

</div>

{% endblock %}
